
<ng-container>
<li>
  <div>
    <p>{{TaskFolderName}} <button *ngIf="showSelector" (click)="selectorLogic()"> Choose this folder</button>   </p>
    <p>Total Time: {{TaskFolderTotalTime}}</p>

    <div *ngIf="showCommands" >
      <button (click)="showContent()"> Show Contents</button>
      <button (click)="creaLogic()">Create A Task</button>
      <button *ngIf="canEdit" (click)="editLogic()">Edit the Folder</button>
      <button *ngIf="canEdit" (click)="this.getService().deleteFolder(this.id)">Delete the Folder</button>
    </div>

  </div>

  <div *ngIf="createTask">
    <input #box placeholder="Task Title"/>
    <button (click)="onEnter(box.value)">Create A Task</button>
  </div>

  <div *ngIf="edit">
    <input #box2 placeholder="New Folder Name"/>
    <button (click)="editName(box2.value)">Edit The Folder</button>
  </div>

    <ul class="list-group-item" *ngIf="TaskFolderContentIsVisible">
      <app-task *ngFor="let task of this.getService().getListTasksFromIDs(this.getService().getTasksFromFolder(this.id))"
                [TaskTitle]="task.TaskTitle"
                [TaskSubTitle]="task.TaskSubTitle"
                [isRunning]="task.isRunning"
                [id]="task.id"
                [TaskSubID]="task.TaskSubID"
                [interval]="task.interval"
                [TaskTime]="task.TaskTime"
      >
      </app-task>
    </ul>



</li>
</ng-container>
